:root {
    --darkpink-Frame: #ce6ba7;
    --outlineColor: #a16f8d;
    --lightpink-Bg: #fdcdf1;
    --buttonTextColor: #7d4f6a;
}

body {
    font-family: "Pixelify Sans";
    text-align: center;
    color: var(--outlineColor);
    background-color: var(--lightpink-Bg);
    background-image: url('/assets/bakingTimer-bg.png');
}

/*------ FRAME ------*/
.app-frame {
    position: relative;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.frame-text {
    top: 0;
    color: var(--buttonTextColor);
    font-size: 30px;
    font-weight: 500;
}

.frame-img {
    position: absolute;
    width: 1000px;
    height: 800px;
    object-fit: cover;
    z-index: -1;
    overflow: hidden;
    /*-center the frame -*/
    /* transform: translate(-50%);
    left: 50%; */
}

/*------ WINDOW CONTROLS------*/
.window-controls {
    position: absolute;
    top: 4px;
    right: 70px;
    display: flex;
    gap: 10px;
    z-index: 200;
    -webkit-app-region: no-drag;
}

.window-control {
    background: transparent !important;
    border: none;
    width: 32px;
    height: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: all 0.3s ease;
    padding: 10px;
    margin: 15px;
}

.window-control:hover img,
#start-btn:hover {
    transform: scale(1.1);
}

/*------ SCREEN CONTENT-------*/
.container {
    position: relative;
    width: 1000px;
    height: 800px;
    margin: auto;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.content-wrapper {
    position: relative;
}

#start-screen {
    display: none;
}

#selection-screen {
    display: none;
}

#pastry-timer-screen {
    display: none;
}

#pastry-timer_complete_screen {
    display: block;
}

/*------ SCREEN ASSETS------*/
.interactive-content {
    position: relative;
    margin: 0;
    padding: 0;
    /* background-color: yellow; */
    transform: translateY(-20%);
}
/* .btn-text{
    transform:translateX(-20px);
} */
/*--- Start Menu Assets---*/
#start-btn {
    background-color: transparent !important;
    background-image: url('./assets/startScreen/bgtimer-startbtn.png');
    font-family: "Pixelify Sans";
    color: var(--buttonTextColor);
    font-size: 24px;
    width: 296px;
    height: 108px;
    border: none;
}

#talkbubble {
    /* position: relative; */
    background-color: transparent !important;
    background-image: url('./assets/startScreen/talkbubble.png');
    font-family: "Pixelify Sans";
    color: var(--buttonTextColor);
    font-size: 24px;
    width: 360px;
    height: 188px;
    border: none;
}

#talkbubble-text {
    /* background-color: yellow; */
    /* position: absolute; */
    color: var(--buttonTextColor);
    font-size: 24px;
    width: 230px;
    transform: translateX(10%);
    z-index: 20;
}

#dog-startmenu {
    padding-top: 50px;
    /* background-color: yellow; */
}

/*---Selection Menu Assets ---*/
.screen-title {
    margin-bottom: 50px;
}

.selection-pastry {
    transform: scale(85%);
    position: relative;
    /* Add this to make the button a positioning context */
    display: inline-block;
    /* This helps with proper positioning */
}

.selection-pastry:hover {
    transform: scale(100%);
}

.selection-text {
    display: none;
}

#cookie {
    background-color: transparent !important;
    background-image: url('./assets/choicesScreen/cookie.png');
    font-family: "Pixelify Sans";
    color: var(--buttonTextColor);
    width: 228px;
    height: 160px;
    border: none;
}

#cake {
    background-color: transparent !important;
    background-image: url('./assets/choicesScreen/cake.png');
    font-family: "Pixelify Sans";
    color: var(--buttonTextColor);
    width: 316px;
    height: 280px;
    border: none;
}

#muffin {
    background-color: transparent !important;
    background-image: url('./assets/choicesScreen/muffin.png');
    font-family: "Pixelify Sans";
    color: var(--buttonTextColor);
    width: 272px;
    height: 252px;
    border: none;
}

#bread {
    background-color: transparent !important;
    background-image: url('./assets/choicesScreen/bread.png');
    font-family: "Pixelify Sans";
    color: var(--buttonTextColor);
    width: 324px;
    height: 208px;
    border: none;
}

/*---Timer Waiting/complete Screen ---*/
.timer-display {
    font-size: 44px;
    margin-bottom: 20px;
}

.timer-controls {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    align-content: center;
}

#snooze-btn,
#stop-btn,#bake-again-btn,#back-btn {
    /* margin: 20px 0 0 40px; */
    background-color: transparent !important;
    font-family: "Pixelify Sans";
    color: var(--buttonTextColor);
    font-size: 24px;
    width: 296px;
    height: 108px;
    border: none;
    background-image: url("./assets/Working-Timing/bgtimer-Snoozebtn.png");
    /* background-size: 244px 92px;
    background-repeat: no-repeat; */
}
#snooze-btn:hover,#stop-btn:hover{
    transform: scale(1.1);
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.fade-in {
    animation: fadeIn 0.3s ease-out;
}

/*------ FONTS ------*/
@font-face {
    font-family: 'Pixelify Sans';
    src: url('./fonts/Pixelify_Sans/PixelifySans-VariableFont_wght.ttf') format('truetype');
    font-weight: 400 700;
    font-style: normal;
}

.poppins-thin {
    font-family: "Poppins", sans-serif;
    font-weight: 100;
    font-style: normal;
}

.poppins-extralight {
    font-family: "Poppins", sans-serif;
    font-weight: 200;
    font-style: normal;
}

.poppins-light {
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: normal;
}

.poppins-regular {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.poppins-medium {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
}

.poppins-semibold {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
}

.poppins-bold {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: normal;
}

.poppins-extrabold {
    font-family: "Poppins", sans-serif;
    font-weight: 800;
    font-style: normal;
}

.poppins-black {
    font-family: "Poppins", sans-serif;
    font-weight: 900;
    font-style: normal;
}

.poppins-thin-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 100;
    font-style: italic;
}

.poppins-extralight-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 200;
    font-style: italic;
}

.poppins-light-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: italic;
}

.poppins-regular-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: italic;
}

.poppins-medium-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: italic;
}

.poppins-semibold-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: italic;
}

.poppins-bold-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: italic;
}

.poppins-extrabold-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 800;
    font-style: italic;
}

.poppins-black-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 900;
    font-style: italic;
}


.pixelify-sans-customFont {
    font-family: "Pixelify Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

/*------ End of : FONTS ------*/